*.pyc
*.pyo
__pycache__

django_react_auth_crud/venv/
django_react_auth_crud/env/

django_react_auth_crud/db.sqlite3

django_react_auth_crud/media/

django_react_auth_crud/static/

django_react_auth_crud/.env

/react_auth/node_modules
/react_auth/.pnp
/react_auth.pnp.js

/react_auth/coverage

/react_auth/build